buildOS

Recover your account

Enter this code to get back into your buildOS account.

    {{ .RecoveryCode }}

Expires in {{ .ExpiresInMinutes }} minutes. If you did not ask to recover your account, change nothing and ignore this email.

os.build
